<div class="container p-4">
    <div class="row">
        <div class="col-md-6 mx-auto">
            <div class="card">
                <div class="card-header text-center">
                    <h1> Transferencia bancaria </h1>
                    <h3> Favor de seguir las instrucciones.</h3>
                     <img src="/img/asc.png">
                </div>
                <div class="card-body cardBack letters">
                    <label> Paso 1: </label> 
                    <label> Favor de pagar la cantidad de ${{arr.precio}} a la cuenta bancaria:</label>
                     <label> Paso 2: </label> 
                    <label> Una vez hecho el pago favor de enviar la imagen o captura de pantalla a este corre para su revision manual:</label>
                 <label> Paso 3: </label> 
                    <label> Espera a que revisemos y confirmemos el dato para agregarte al curso.</label>
                    <label> De ante mano agradecemos tu paciencia y tu preferencia.</label>
                     <a href="/pagosasp" class = "buttonF btn btn-danger btn-lg" >Cerrar</a>
            </div>
            </div>
        </div>
    </div>
</div>