<div class="container">
    <div class="row">
        <div class="col-md-8" style="padding:0">
         <div id = "slider">
             <input type="radio" name="slider" id="slide1" checked>
              <input type="radio" name="slider" id="slide2">
              <input type="radio" name="slider" id="slide3">
              <input type="radio" name="slider" id="slide4">
              <div id="slides">
                  <div id = "overflow">
                      <div class = "inner">
                          <div class ="slide slide_1">
                              <div class = "slide-content">
                                    <img src="/img/1.png">
                              </div>
                          </div>
                               <div class ="slide slide_2">
                              <div class = "slide-content">
                                    <img src="/img/2.png">
                              </div>
                          </div>
                             <div class ="slide slide_3">
                              <div class = "slide-content">
                                    <img src="/img/3.png">
                              </div>
                          </div>
                                <div class ="slide slide_4">
                              <div class = "slide-content">
                                    <img src="/img/4.png">
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
              <div id="controls">
                  <label for = "slide1"></label>
                  <label for = "slide2"></label>
                  <label for = "slide3"></label>
                  <label for = "slide4"></label>
              </div>
              <div id ="bullets">
                  <label for="slide1"></label>
                  <label for="slide2"></label>
                  <label for="slide3"></label>
                  <label for="slide4"></label>
              </div>
         </div>   

    </div>

    <div class="col-md-4" style="padding:0">
        <div class="" id="oiecomova" onclick="hola()">
            <div class="border-button caja">
                <img class="" src="/img/poll.png">
                <label>Realiza una encuesta</label>
            </div>
        </div>
    </div>
</div>
</div>
<div class="popup font-stuff">
    <div class="popup-content">
        <form class="form" action="" method="POST">
            <img class="on-a-cross" src="/img/cancelar.png" id="mary" onclick="adios()">
            <label> Hola, favor de llenar la encuesta:</label>
            <label> ¿Que calificacion le daria en general a la Escuela de lenguas foraneas?</label>
            <br>
            <label> Calificacion:</label>
            <select class="font-stuffs" id="selectEncuesta" onclick="mostrar()" name="calificacion">
                <option value=null> -Selecciona- </option>
                <option value="10"> 10 </option>
                <option value="9"> 9 </option>
                <option value="8"> 8 </option>
                <option value="7"> 7 </option>
                <option value="6"> 6 </option>
                <option value="5"> 5 </option>
                <option value="4"> 4 </option>
                <option value="3"> 3 </option>
                <option value="2"> 2 </option>
                <option value="1"> 1 </option>
            </select>
            <div class="oculto">
                <div>
                    <label> Por favor escribe en que podemos mejorar:</label>
                    <br>
                    <input type="text" id="inputEncuesta" name="respuesta">
                    <br>
                    <label>Selecciona que campos podriamos mejorar</label>
                    <br>
                    <label><input type="checkbox" id="cbox1" value="Instalaciones">
                        Instalaciones</label><br>
                    <label><input type="checkbox" id="cbox2" value="web"> Pagina web</label><br>
                    <label><input type="checkbox" id="cbox3" value="servicios"> Servicios</label><br>
                    <label><input type="checkbox" id="cbox4" value="contacto"> Contacto</label><br>
                </div>

            </div>
            <br>
            <input class="butt" type="submit" value="Enviar" id="subirEncuesta">
    </div>
</div>
</form>