<div class="container p-4">
    <div class="row">
        <div class="col-md-4 mx-auto">
            <div class="card-text-center">
                <h3> Welcome {{user.nombre}}</h3>
                <h3> You are {{user.funcion}}</h3>
                 <h3> Your ID: {{user.id_aspirante}}</h3>
            </div>
        </div>
    </div>
</div>