<div class = "container">
    <div class = "row">
        <div class ="col-md-12"> 
            <h1>{{nos.titulo}}</h1>
            <h2>Fecha de la publicacion: {{formatdate fecha "MM-DD-YYYY"}}</h2>
            <p class = "coolFont">{{nos.contenido}}</p>
        </div>
    </div>
</div>