.navbar-back {
  background-color: #18476a !important;
}
.navbar-ext {
  color: red !important;
}

.navbar-custom {
  color: #ffffff !important;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 105%;
}

.nav-link:hover {
  background: #023257;
}

.back {
  background: #cfc9ba;
  position: relative;
  min-height: 100vh;
  padding-bottom: 2%;
}

.fot {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
}

.body {
  margin: 0;
  padding: 0;
  background: #cfc9ba;
}

.sliderMiddle {
  overflow: hidden;
}

.middle {
  position: absolute;
  margin-top: 3%;
}

.navigation {
  position: absolute;
  bottom: 20px;
  left: 50px;
  display: flex;
}

.bar {
  width: 50px;
  height: 10px;
  border: 2px solid black;
  margin: 6px;
  cursor: pointer;
  transition: 0.4s;
}

.bar:hover {
  background: black;
}

input[name="r"] {
  position: absolute;
  visibility: hidden;
}

.slides {
  width: 500%;
  height: 100%;
  display: flex;
}

.slide {
  width: 20%;
  transition: 0.6s;
}

.slide img {
  width: 100%;
  height: 100%;
}

#r1:checked ~ .s1 {
  margin-left: 0%;
}
#r2:checked ~ .s1 {
  margin-left: -20%;
}
#r3:checked ~ .s1 {
  margin-left: -40%;
}
#r4:checked ~ .s1 {
  margin-left: -60%;
}

.position {
  position: absolute;
  margin-left: 3%;
  display: flex;
}

.border-button {
  box-shadow: 0px 0px 0px 1px #efb810;
  transition: box-shadow 0.4s linear;
  margin: 0.9em;
}

.imgMargin {
  margin-right: 15px;
}

.font-stuff {
  color: white;
  font-size: 25px;
}

.font-stuffs {
  font-size: 23px;
}

.popup-botton {
  align-items: center;
}

.butt {
  margin-left: 200px;
}

.on-a-cross {
  position: absolute;
  top: -15px;
  right: -15px;
  background: #18476a;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  box-shadow: 6px 6px 29px -4px rgba(0, 0, 0.75);
  cursor: pointer;
}

.oculto {
  display: none;
}

.logun {
  position: absolute;
  height: 410px;
  width: 550px;
  background: #18476a;
  padding: 20px;
  border-radius: 5px;
  position: relative;
}

.letters label {
  color: white;
  font-size: 25px;
  margin-top: 5%;
}

.inputSettings {
  height: 35px;
  width: 300px;
}

.platinumButton {
  margin-top: 5%;
  margin-bottom: 5%;
  background-color: tomato;
  padding: 10px 15px;
  border: none;
  font-size: 20px;
}

.platinumButton:hover {
  background: yellowgreen;
}

.titles {
  color: black;
  margin-top: 25px;
}

.reality label {
  color: #282828;
  font-size: 20px;
}

.signum {
  margin-top: 3%;
  margin-bottom: 3%;
  background: #18476a;
  padding: 3%;
}

.signButton {
  margin-top: 5%;
  margin-bottom: 5%;
  background-color: tomato;
  padding: 10px 15px;
  border: none;
  font-size: 20px;
}

.signButton:hover {
  background: yellowgreen;
}

.nana {
  width: 250px;
  height: 40px;
}

.accordion__button {
  display: block;
  width: 100%;
  padding: 15px;
  border: none;
  outline: none;
  cursor: pointer;
  margin-top: 3%;
  background: #103b5e;
  color: white;
  text-align: left;
  transition: background 0.2s;
}

.accordion__button::after {
  content: "\25be";
  float: right;
  transform: scale(1.5);
}

.accordion__button--active {
  background: #0a1f30;
}
.accordion__button--active::after {
  content: "\25b4";
}

.accordion__content {
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.2s;
  padding: 0 15px;
  font-family: sans-serif;
  background: #0a1f30;
}

.para p {
  color: white;
  margin-top: 2%;
}

.cardBack {
  background: #023257;
}

.removeList {
  list-style-type: none;
  font-size: 15px;
}

.removeList i {
  margin: 0;
  padding: 0;
  color: white;
  font-weight: lighter;
  font-family: Arial;
}

.margin3 {
  margin-top: 3%;
  margin-bottom: 3%;
}

.footer-links {
  background: #323232;
  color: white;
  font-size: 16px;
  padding: 20px 0;
  margin-top: 2%;
  text-align: center;
}

.footer-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  align-items: flex-start;
  justify-content: center;
}

.footer-container ul {
  margin: 0 auto;
}

@media (max-width: 700px) {
  .footer-links .footer-container {
    grid-template-columns: repeat(1, 1fr);
  }
}

.carousel {
  width: 100%;
  height: 100%;
}

.cardColor {
  background: #18476a;
}

.cardColor p {
  color: white;
  font-size: 20px;
  margin-top: 2%;
}

.normalButton {
  margin-top: 1%;
  margin-bottom: 1%;
  background-color: rgb(155, 11, 40);
  color: white;
  padding: 10px 15px;
  border: none;
  font-size: 20px;
}

.normalButton:hover {
  background: rgb(130, 172, 47);
  color: black;
}

.table-Color {
  background: #174a74;
  color: white;
}

.table-curso {
  background: #0a1f30;
  color: white;
}

.table-bordered {
  color: black;
}

.normalFontz {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 17px;
  font-style: normal;
}
.normalSmall {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-style: italic;
}

.coolFont {
  font-family: Arial, Helvetica, sans-serif;
  font-size: x-large;
}

.normalFont {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
}

.titleStyle {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 35px;
  font-style: normal;
}

.buttonF {
  margin-top: 3%;
  margin-bottom: 3%;
}

.letrasdark label {
  font-size: x-large;
  color: black;
}

.pr {
  background: #d0d0d0;
}
