.navbar-back {
  background-color: #18476a !important;
}
.navbar-ext {
  color: red !important;
}

.navbar-custom {
  color: #ffffff !important;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 105%;
}

.nav-link:hover {
  background: #023257;
}

.back {
  background: #cfc9ba;
}

.body {
  margin: 0;
  padding: 0;
  background: #cfc9ba;
}

.sliderMiddle {
  overflow: hidden;
}

.middle {
  position: absolute;
  margin-top: 3%;
}

.navigation {
  position: absolute;
  bottom: 20px;
  left: 50px;
  display: flex;
}

.bar {
  width: 50px;
  height: 10px;
  border: 2px solid black;
  margin: 6px;
  cursor: pointer;
  transition: 0.4s;
}

.bar:hover {
  background: black;
}

input[name="r"] {
  position: absolute;
  visibility: hidden;
}

.slides {
  width: 500%;
  height: 100%;
  display: flex;
}

.slide {
  width: 20%;
  transition: 0.6s;
}

.slide img {
  width: 100%;
  height: 100%;
}

#r1:checked ~ .s1 {
  margin-left: 0%;
}
#r2:checked ~ .s1 {
  margin-left: -20%;
}
#r3:checked ~ .s1 {
  margin-left: -40%;
}
#r4:checked ~ .s1 {
  margin-left: -60%;
}

.position {
  position: absolute;
  margin-left: 3%;
  display: flex;
}

.caja {
  font-family: sans-serif;
  font-size: 20px;
  color: #ffffff;
  background: #18476a;
  padding-top: 5%;
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 5%;
  cursor: pointer;
}

.caja:hover {
  background: #023257;
  cursor: pointer;
}
.border-button {
  box-shadow: 0px 0px 0px 1px #efb810;
  transition: box-shadow 0.4s linear;
  margin: 0.9em;
}

.imgMargin {
  margin-right: 15px;
}

.popup {
  background: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  display: none;
  justify-content: center;
  align-items: center;
}

.popup-content {
  height: 250px;
  width: 500px;
  background: #18476a;
  padding: 20px;
  border-radius: 5px;
  position: absolute;
}

.font-stuff {
  color: white;
  font-size: 25px;
}

.font-stuffs {
  font-size: 23px;
}

.popup-botton {
  align-items: center;
}

.butt {
  margin-left: 200px;
}

.on-a-cross {
  position: absolute;
  top: -15px;
  right: -15px;
  background: #18476a;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  box-shadow: 6px 6px 29px -4px rgba(0, 0, 0.75);
  cursor: pointer;
}

.oculto {
  display: none;
}

.logun {
  position: absolute;
  height: 410px;
  width: 550px;
  background: #18476a;
  padding: 20px;
  border-radius: 5px;
  position: relative;
}

.letters label {
  color: white;
  font-size: 25px;
  margin-top: 5%;
}

.inputSettings {
  height: 35px;
  width: 300px;
}

.platinumButton {
  margin-top: 5%;
  margin-bottom: 5%;
  background-color: tomato;
  padding: 10px 15px;
  border: none;
  font-size: 20px;
}

.platinumButton:hover {
  background: yellowgreen;
}

.titles {
  color: black;
  margin-top: 25px;
}

.reality label {
  color: #282828;
  font-size: 20px;
}

.signum {
  margin-top: 3%;
  margin-bottom: 3%;
  background: #18476a;
  padding: 3%;
}

.signButton {
  margin-top: 5%;
  margin-bottom: 5%;
  background-color: tomato;
  padding: 10px 15px;
  border: none;
  font-size: 20px;
}

.signButton:hover {
  background: yellowgreen;
}

.nana {
  width: 250px;
  height: 40px;
}

.accordion__button {
  display: block;
  width: 100%;
  padding: 15px;
  border: none;
  outline: none;
  cursor: pointer;
  margin-top: 3%;
  background: #d72921;
  color: white;
  text-align: left;
  transition: background 0.2s;
}

.accordion__button::after {
  content: "\25be";
  float: right;
  transform: scale(1.5);
}

.accordion__button--active {
  background: #555555;
}
.accordion__button--active::after {
  content: "\25b4";
}

.accordion__content {
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.2s;
  padding: 0 15px;
  font-family: sans-serif;
  background: #555555;
}

.para p {
  color: white;
  margin-top: 2%;
}

.cardBack {
  background: #023257;
}

.removeList {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.removeList i {
  color: white;
}

.margin3 {
  margin-top: 3%;
  margin-bottom: 3%;
}

.coolFont {
  font-family: Arial, Helvetica, sans-serif;
  font-size: x-large;
}

.normalFont {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal;
}

.footer-links {
  background: #323232;
  color: white;
  font-size: 16px;
  padding: 35px 0;
  margin-top: 2%;
  text-align: center;
}

.footer-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  align-items: flex-start;
  justify-content: center;
}

.footer-container ul {
  margin: 0 auto;
}

@media (max-width: 700px) {
  .footer-links .footer-container {
    grid-template-columns: repeat(1, 1fr);
  }
}

#slider {
  margin: 0 auto;
  width: 1000px;
  max-width: 100%;
  text-align: center;
}
#slider input[type="radio"] {
  display: none;
}
#slider label {
  cursor: pointer;
  text-decoration: none;
}
#slides {
  padding: 10px;
  border: 3px solid #ccc;
  background: #fff;
  position: relative;
  z-index: 1;
}
#overflow {
  width: 100%;
  overflow: hidden;
}
#slide1:checked ~ #slides .inner {
  margin-left: 0;
}
#slide2:checked ~ #slides .inner {
  margin-left: -100%;
}
#slide3:checked ~ #slides .inner {
  margin-left: -200%;
}
#slide4:checked ~ #slides .inner {
  margin-left: -300%;
}
#slides .inner {
  transition: margin-left 800ms cubic-bezier(0.77, 0, 0.175, 1);
  width: 400%;
  line-height: 0;
  height: 300px;
}
#slides .slide {
  width: 25%;
  float: left;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  color: #fff;
}
#slides .slide_1 {
  background: #00171f;
}
#slides .slide_2 {
  background: #003459;
}
#slides .slide_3 {
  background: #007ea7;
}
#slides .slide_4 {
  background: #00a8e8;
}
#controls {
  margin: -180px 0 0 0;
  width: 100%;
  height: 50px;
  z-index: 3;
  position: relative;
}
#controls label {
  transition: opacity 0.2s ease-out;
  display: none;
  width: 50px;
  height: 50px;
  opacity: 0.4;
}
#controls label:hover {
  opacity: 1;
}
#slide1:checked ~ #controls label:nth-child(2),
#slide2:checked ~ #controls label:nth-child(3),
#slide3:checked ~ #controls label:nth-child(4),
#slide4:checked ~ #controls label:nth-child(1) {
  float: right;
  margin: 0 -50px 0 0;
  display: block;
}
#slide1:checked ~ #controls label:nth-last-child(2),
#slide2:checked ~ #controls label:nth-last-child(3),
#slide3:checked ~ #controls label:nth-last-child(4),
#slide4:checked ~ #controls label:nth-last-child(1) {
  float: left;
  margin: 0 0 0 -50px;
  display: block;
}
#bullets {
  margin: 150px 0 0;
  text-align: center;
}
#bullets label {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background: #ccc;
  margin: 0 10px;
}
#slide1:checked ~ #bullets label:nth-child(1),
#slide2:checked ~ #bullets label:nth-child(2),
#slide3:checked ~ #bullets label:nth-child(3),
#slide4:checked ~ #bullets label:nth-child(4) {
  background: #444;
}
@media screen and (max-width: 900px) {
  #slide1:checked ~ #controls label:nth-child(2),
  #slide2:checked ~ #controls label:nth-child(3),
  #slide3:checked ~ #controls label:nth-child(4),
  #slide4:checked ~ #controls label:nth-child(1),
  #slide1:checked ~ #controls label:nth-last-child(2),
  #slide2:checked ~ #controls label:nth-last-child(3),
  #slide3:checked ~ #controls label:nth-last-child(4),
  #slide4:checked ~ #controls label:nth-last-child(1) {
    margin: 0;
  }
  #slides {
    max-width: calc(100% - 140px);
    margin: 0 auto;
  }
}
