<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div>
                    <img src="/img/icon.png">
                </div>
                <p> Escuela de lenguas foraneas <br>
                    Ayotlán, Jalisco <br>
                    Santa monica #397
                </p>
            </div>
            <div class="col-md-4">
                <label>
                    Mas informacion:
                </label>
                <ul class="removeList">
                    <li> <a href="/links/contacto"> <i class="fa fa-angle-right" aria-hidden="true">
                                Contacto </i></a>
                    </li>
                    <li> <a href="/links/us"> <i class="fa fa-angle-right" aria-hidden="true"> Mas sobre
                                nosotros</i></a> </li>
                    <li> <a href="/links/faq"> <i class="fa fa-angle-right" aria-hidden="true"> Preguntas
                                frecuentes</i></a>
                    </li>
                    <li> <a href="/links/ubication"> <i class="fa fa-angle-right" aria-hidden="true"> Direccion </i></a>
                    </li>
                </ul>
            </div>
            <div class="row-md-4">
                <label> Redes sociales:</label>
                <ul class="remove list">
                    <li> <a href=""> <i class="fab fa-facebook" aria-hidden="true">
                                Facebook </i></a>
                    </li>
                    <li><i class="fas fa-envelope"> Correo: </i></li>
                    <li><i class="fas fa-phone"> Telefono: </i></li>
                </ul>
            </div>
        </div>
    </div>
</footer>