<footer>
    <div class="container main">
        <div class="row">
            <div class="col-md-4">
                <div>
                    <img src="/img/icon.png">
                </div>
                <p class="normalFont"> Escuela de lenguas foraneas <br>
                    Ayotlán, Jalisco <br>
                    Santa monica #397
                </p>
            </div>
            <div class="col-md-4">
                <h3>
                    Mas informacion:
                </h3>
                <ul class="removeList normalFont">
                    <li> <a href="/links/contacto"> <i class="fa fa-angle-right" aria-hidden="true">
                                Contacto </i></a>
                    </li>
                    <li> <a href="/links/us"> <i class="fa fa-angle-right" aria-hidden="true"> Mas sobre
                                nosotros</i></a> </li>
                    <li> <a href="/links/faq"> <i class="fa fa-angle-right" aria-hidden="true"> Preguntas
                                frecuentes</i></a>
                    </li>
                    <li> <a href="/links/ubication"> <i class="fa fa-angle-right" aria-hidden="true"> Direccion </i></a>
                    </li>
                </ul>
            </div>
            <div class="col-md-4">
                <h3> Redes sociales:</h3>
                <ul class="removeList normalFont">
                    <li> <a href=""> <i class="fab fa-facebook " aria-hidden="true">
                                Facebook </i></a>
                    </li>
                    <li><i class="fas fa-envelope"> Correo: </i></li>
                    <li><i class="fas fa-phone"> Telefono: </i></li>
                </ul>
            </div>
        </div>
    </div>
</footer>