<div class="footer-links">
    <div class="footer-container">
        <ul>
            <div>
                <img src="/img/icon.png">
            </div>
            <p class="normalFont"> Escuela de lenguas foraneas <br>
                Ayotlán, Jalisco <br>
                Santa monica #397
            </p>
        </ul>
        <ul class="removeList ">
            <h3>
                Mas informacion:
            </h3>
            <li> <span class="fa fa-angle-right" ></span><a href="/links/contacto"> <i aria-hidden="true">
                        Contacto </i> </a>
            </li>
            <li><span class="fa fa-angle-right"></span><a href="/links/aboutus"> <i  aria-hidden="true"> Mas sobre
                        nosotros</i></a> </li>
            <li><span class="fa fa-angle-right"></span><a href="/links/faq"> <i aria-hidden="true"> Preguntas
                        frecuentes</i></a>
            </li>
            <li> <span class="fa fa-angle-right"></span><a href="/links/ubication"> <i aria-hidden="true"> Direccion
                    </i></a>
            </li>
        </ul>
        <ul class="removeList">
            <h3> Redes sociales:</h3>
            <li> <span class="fab fa-facebook "><a href="https://www.facebook.com/escueladelenguasforaneas.ilfp"> <i aria-hidden="true">
                        Facebook </i></span></a>
            </li>
            <li><span class="fas fa-envelope"></span><i > Correo: escueladelenguasforaneas@live.com.mx </i></li>
            <li> <span class="fas fa-phone"></span><i > Telefono: (345) 91 80530 </i></li>
            <li><span class = "fab fa-whatsapp"></span><i> Numero: (348) 181 2386 </i></li>
        </ul>
    </div>
</div>