<div class="footer-links">
    <div class="footer-container">
        <ul>
            <div>
                <img src="/img/icon.png">
            </div>
            <p class="normalFont"> Escuela de lenguas foraneas <br>
                Ayotlán, Jalisco <br>
                Santa monica #397
            </p>
        </ul>
        <ul class="removeList normalFont">
            <h3>
                Mas informacion:
            </h3>
            <li> <a href="/links/contacto"> <i class="fa fa-angle-right" aria-hidden="true">
                        Contacto </i></a>
            </li>
            <li> <a href="/links/aboutus"> <i class="fa fa-angle-right" aria-hidden="true"> Mas sobre
                        nosotros</i></a> </li>
            <li> <a href="/links/faq"> <i class="fa fa-angle-right" aria-hidden="true"> Preguntas
                        frecuentes</i></a>
            </li>
            <li> <a href="/links/ubication"> <i class="fa fa-angle-right" aria-hidden="true"> Direccion
                    </i></a>
            </li>
        </ul>
        <ul class="removeList normalFont">
            <h3> Redes sociales:</h3>
            <li> <a href="https://www.facebook.com/escueladelenguasforaneas.ilfp"> <i class="fab fa-facebook " aria-hidden="true">
                        Facebook </i></a>
            </li>
            <li><i class="fas fa-envelope"> Correo: escueladelenguasforaneas@live.com.mx </i></li>
            <li><i class="fas fa-phone"> Telefono: </i></li>
        </ul>
    </div>
</div>