<div class="footer-links">
    <div class="footer-container">
        <ul>
            <div>
                <img src="/img/icon.png">
            </div>
            <label class="normalFont"> Escuela de Lenguas Foráneas <br>
                Ayotlán, Jalisco  </label>
                <label class="normalSmall">"Para aprender inglés tu mejor opción"</label>
                <p class="normalFont">Ayotlán Jalisco: Santa Mónica #397</p>
        </ul>
        <ul class="removeList ">
            <h3>
                Más información:
            </h3>
            <li> <span class="fa fa-angle-right" ></span><a href="/links/contacto"> <i class = "normalFontz" aria-hidden="true">
                        Contacto </i> </a>
            </li>
            <li><span class="fa fa-angle-right"></span><a href="/links/aboutus"> <i class = "normalFontz" aria-hidden="true"> Mas sobre
                        nosotros</i></a> </li>
            <li><span class="fa fa-angle-right"></span><a href="/links/faq"> <i class = "normalFontz" aria-hidden="true"> Preguntas
                        frecuentes</i></a>
            </li>
            <li> <span class="fa fa-angle-right"></span><a href="/links/ubication"> <i class = "normalFontz" aria-hidden="true"> Direccion
                    </i></a>
            </li>
        </ul>
        <ul class="removeList">
            <h3> Redes sociales:</h3>
            <li> <span class="fab fa-facebook "><a href="https://www.facebook.com/escueladelenguasforaneas.ilfp"> <i class = "normalFontz" aria-hidden="true">
                        Facebook </i></span></a>
            </li>
            <li><span class="fas fa-envelope"></span><i class = "normalFontz"> Correo: escueladelenguasforaneas@live.com.mx </i></li>
            <li> <span class="fas fa-phone"></span><i class = "normalFontz"> Telefono: (345) 91 80530 </i></li>
            <li><span class = "fab fa-whatsapp"></span><i class = "normalFontz"> Numero: (348) 181 2386 </i></li>
        </ul>
    </div>
</div>