<div class="">
    <nav class="navbar navbar-expand-lg navbar-back">
        <a class="navbar-brand" href="/">
            <img src="/img/icon.png" />
        </a>
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link navbar-custom" href="/crud/uuu.html">Cursos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link navbar-custom" href="/crud/uuu.html">Videos</a>
            </li>

            <li class="nav-item">
                <a class="nav-link navbar-custom" href="/links/faq">Preguntas frecuentes</a>
            </li>
            <li class="nav-item">
                <a class="nav-link navbar-custom" href="/crud/uuu.html">Reglamento</a>
            </li>
            <li class="nav-item">
                <a class="nav-link navbar-custom" href="/crud/uuu.html">Calificaciones</a>
            </li>
            <li class="nav-item">
                <a class="nav-link navbar-custom" href="/links/aboutus">Acerca de nosotros</a>
            </li>


        </ul>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link navbar-custom" href="/signin"> Inicia sesion </a>
            </li>
            <li class="nav-item">
                <a class="nav-link navbar-custom " href="/signup"> Registrate </a>

            </li>
        </ul>
    </nav>
</div>