<div class="">
    <nav class="navbar navbar-expand-lg navbar-back">
        {{#if user}} 
         {{#if (eq user.funcion "aspirante")}}
           <a class="navbar-brand" >
          <img src="/img/icon.png" />
        </a> 
              <ul class="navbar-nav mr-auto">
             <li class="nav-item">
                <a class="nav-link navbar-custom" href="/aspcalif">Calificaciones</a>
            </li>
              <li class="nav-item">
             <a class="nav-link navbar-custom" href="/ask">Preguntas</a>
            </li>
             <li class="nav-item">
             <a class="nav-link navbar-custom" href="/registercurso">Ver cursos</a>
            </li>
              <li class="nav-item">
             <a class="nav-link navbar-custom" href="/miscursos">Tus cursos</a>
            </li>
             <li class="nav-item">
            <a class="nav-link navbar-custom" href="/pagosasp">Pagos</a>
            </li>
            </ul>
                {{/if}}
                 {{#if (eq user.funcion "maestro")}}
                <a class="navbar-brand" href="/">
                   <img src="/img/icon.png" />
                  </a> 
              <ul class="navbar-nav mr-auto">
             <li class="nav-item">
                <a class="nav-link navbar-custom" href="/cursosmaestro"> Ver tus cursos </a>
            </li>
            </ul>   
                   {{/if}}
             {{#if (eq user.funcion "admin")}}
              <a class="navbar-brand">
          <img src="/img/icon.png" />
            </a> 
              <ul class="navbar-nav mr-auto">
             <li class="nav-item">
                <a class="nav-link navbar-custom" href="/verasp">Datos aspirantes</a>
            </li>
             <li class="nav-item">
            <a class="nav-link navbar-custom" href="/verm"> Maestros</a>
            </li>
             <li class="nav-item">
             <a class="nav-link navbar-custom" href="/cursos">Cursos</a>
            </li>
            <li class="nav-item">
            <a class="nav-link navbar-custom" href="/adminpreg">Preguntas</a>
            </li>
             <li class="nav-item">
            <a class="nav-link navbar-custom" href="/verencuestas">Encuestas</a>
            </li>
            <li class="nav-item">
            <a class="nav-link navbar-custom" href="/verpagos">Pagos</a>
            </li>
             <li class="nav-item">
            <a class="nav-link navbar-custom" href="/publi">Publicaciones</a>
            </li>
            </ul>   
                   {{/if}}
            {{else}}
            <a class="navbar-brand" href="/">
             <img src="/img/icon.png" />
            </a> 
              <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link navbar-custom" href="/links/watchcursos">Cursos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link navbar-custom" href="/links/videos">Videos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link navbar-custom" href="/links/faq">Preguntas frecuentes</a>
            </li>
            <li class="nav-item">
                <a class="nav-link navbar-custom" href="/links/rules">Reglamentoooo</a>
            </li>
            <li class="nav-item">
                <a class="nav-link navbar-custom" href="/links/calif">Calificaciones</a>
            </li>
            <li class="nav-item">
                <a class="nav-link navbar-custom" href="/links/aboutus">Acerca de nosotros</a>
            </li> 
            </ul>
        {{/if}}
        {{#if user}}
         <ul class="navbar-nav ml-auto">
              <li class="nav-item">
            <a class="nav-link navbar-custom" href="/profile"> Perfil</a>
            </li>
               <li class="nav-item">
                <a class="nav-link navbar-custom " href="/logout"> Salir</a>
            </li>
            </ul>
        {{else}}
            <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link navbar-custom" href="/signin"> Inicia sesión </a>
            </li>
            <li class="nav-item">
                <a class="nav-link navbar-custom " href="/signup"> Regístrate </a>
            </li>
        </ul>
        {{/if}}
    </nav>
</div>

