<div class="container p-4">
    <div class="row">
        <div class="col-md-5 mx-auto">
            <div class="card text-center">
                <div class="card-header">
                    <h3> Agregar nuevo entrada en la bitacora </h3>
                </div>
                <div class="class-body">
                    <form action="/bita/add/{{id_curso}}" method="POST">
                        <div class="cardBack letters">
                            <label> Titulo: </label>
                            <input class="form-control" type="text" placeholder="Titulo" name="titulo"
                                required="required" />
                               <label> Contenido: </label>
                            <input class="form-control" type="text" placeholder="Contenido" name="contenido"
                                required="required" /> 
                            <input type="submit" class="signButton" value="Crear" />
                        </div>
                </div>
            </div>
            </form>
        </div>
    </div>
</div>