<div class="container">
    <div class="row">
        <div class="col-md-9">
            <div class="margin3">
                <h1> Mas sobre nosotros</h1>
                <label class ="normalSmall"> "Para aprender ingles tu mejor opcion" </label>
                <br>
                <h2>¿Quiénes somos?</h2>
                <p class="coolFont"> Escuela de Lenguas Foráneas se constituye como un espacio físico en que los estudiantes tienen la oportunidad de ser acompañados en sus procesos de aprendizaje o adquisición del Inglés como lengua extranjera, asesorados por docentes con amplio dominio del idioma, vastos conocimientos sobre la cultura norteamericana y, sobre todo, altamente capacitados en la enseñanza del mismo.
                </p>
                <br>
                <p class = "coolFont"> Cada integrante que forma parte del equipo de trabajo de este instituto, tiene la firme convicción y compromiso de cumplir fielmente con sus funciones y de forma colaborativa para abonar al cumplimiento de las metas y objetivos así como brindar un servicio de calidad a nuestros clientes en todo momento.</p>
            </div>

        </div>
         <div class="col-md-3">
            <div class="margin3">
                <img src="/img/logo.png">
            </div>
        </div>
    </div>
    <div class = "row">
        <div class = "col-md-10 mx-auto">
            <div class="card  border-dark mb-3">
                 <div class="card-body">
                     <h2 class="card-title"> Más sobre nosotros: </h2>
                     <p class="card-text"> Somos un centro de capacitación para el trabajo especializado en la enseñanza del inglés como lengua extranjera para profesionistas, estudiantes de nivel universitario, preparatoria y secundaria. Con 8 años de existencia y con maestros altamente capacitados y certificados en la enseñanza del idioma, Escuela de Lenguas Foráneas, te apoya en tu proceso de aprendizaje desde nivel principiante hasta nivel avanzado con la intención de prepararte para certificarte a través del TOFEL, GESE, APTIS, CENNI, British Council o cualquier otro de tu elección.</p>
                 </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="margin3">
                <h1> Nuestra ubicación: </h1>
                <h2>Sucursal Ayotlán </h2>
                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1868.177504102676!2d-102.32762948038737!3d20.532650617587173!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8428b10121092c2d%3A0x1f5cb3c93e9dc486!2sEscuela%20de%20Lenguas%20For%C3%A1neas%20ILFP!5e0!3m2!1ses-419!2smx!4v1604088782633!5m2!1ses-419!2smx"
                    width="400" height="300" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false"
                    tabindex="0"></iframe>
            </div>
        </div>

        <div class="col-md-6">


        </div>
    </div>
    <div class="row">
        <div class="col-md-5">
            <div class="card  border-dark mb-3">
                <div class="card-body">
                    <h2 class="card-title"> Misión </h2>
                    <p class="card-text"> Brindar capacitación para el trabajo y para estudios superiores a
                        adolecentes, jóvenes y adultos basada en la enseñanza-aprendizaje de
                        idiomas, garantizando una comunicación pertinente en estos idiomas,
                        el acceso al conocimiento y el intercambio del mismo de una manera eficaz
                        tanto en el ámbito nacional como en el internacional.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card  border-dark mb-3">
                <div class="card-body">
                    <h2 class="card-title"> Visión </h2>
                    <p class="card-text"> Llegar a ser para el 2025 la escuela especializada en la enseñanza del
                        inglés como lengua extranjera reconocida en la región de los altos de Jalisco
                        no solo por el excelente desempeño de sus trabajadores y digna infraestructura,
                        sino sobre todo por el alto rendimiento de sus estudiantes egresados, expresado
                        sobre todo, en sus logros de los estándares nacionales e internacionales de dominio
                        de la lengua inglesa.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card  border-dark mb-3">
                <div class="card-body">
                    <h2 class="card-title"> Valores </h2>
                    <p class="card-text"> 1.- Respeto <br>
                    2.- Compromiso <br>
                    3.- Responsabilidad <br>
                    4.- Trabajo en equipo <br>
                    5.- Constancia <br>
                    6.- Calidad <br>
                    7.- Vanguardia <br>
                    8.- Eficiencia  <br>
                    9.- El estudiante y el trabajador <br>
                    10.- Limpieza <br>
                    11.- Puntualidad <br>
                    12.- Tolerancia
                    </p>
                </div>
            </div>

        </div>
    </div>
</div>