<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="margin3">
                <img src="/img/logo.png">
            </div>
        </div>
        <div class="col-md-8">
            <div class="margin3">
                <h1> Mas sobre nosotros</h1>
                <label> Escuela de Lenguas Foraneas</label>
                <br>
                <label> "Para aprender ingles tu mejor opcion" </label>
                <p class="coolFont"> Somos una institucion fundada desde 2005 con el objetivo de convertirnos
                    en un punto de referencia en calidad en enseñanza en la region.
                </p>
            </div>

        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="margin3">
                <h1> Nuestra ubicacion: </h1>
                <h2>Sucursal Ayotlán </h2>
                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1868.177504102676!2d-102.32762948038737!3d20.532650617587173!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8428b10121092c2d%3A0x1f5cb3c93e9dc486!2sEscuela%20de%20Lenguas%20For%C3%A1neas%20ILFP!5e0!3m2!1ses-419!2smx!4v1604088782633!5m2!1ses-419!2smx"
                    width="400" height="300" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false"
                    tabindex="0"></iframe>
            </div>
        </div>

        <div class="col-md-6">


        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="card  border-dark mb-3">
                <div class="card-body">
                    <h2 class="card-title"> Mision </h2>
                    <p class="card-text"> Brindar capacitacion para el trabajo y para estudios superiores a
                        adolecentes, jovenes y adultos basada en la enseñanza-apredizaje de
                        idiomas, garantizando una comunicacion pertinente en estos idiomas,
                        el acceso al conocimineto y el intercambio del mismo de una manera eficaz
                        tanto en el ámbito nacional como en el internacional.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card  border-dark mb-3">
                <div class="card-body">
                    <h2 class="card-title"> Vision </h2>
                    <p class="card-text"> Llegar a ser para el 2025 la escuela de especializada en la enseñanza del
                        ingles como lengua extranjera reconocida en la region de los altos de Jalisco
                        no solo por el excelente desempeño de sus trabajadores y digna infraestructura,
                        sino sobre todo por el alto rendimiento de sus estudiantes egresados, expresado
                        sobre todo, en sus logros de los estandares nacionales e internacionales de dominio
                        de la lengua inglesa.
                    </p>
                </div>
            </div>

        </div>
    </div>
</div>