<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="marginTop3">
                <img src="/img/logo.png">
            </div>
        </div>
        <div class="col-md-8">
            <div class="marginTop3">
                <h1> Mas sobre nosotros</h1>
                <label> Escuela de Lenguas Foraneas</label>
                <br>
                <label> "Para aprender ingles tu mejor opcion" </label>
            </div>

        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <h2> Mision </h2>
            <p> Brindar capacitacion para el trabajo y para estudios superiores a
                adolecentes, jovenes y adultos basada en la ense침anza-apredizaje de
                idiomas, garantizando una comunicacion pertinente en estos idiomas,
                el acceso al conocimineto y el intercambio del mismo de una manera eficaz
                tanto en el 치mbito nacional como en el internacional.
            </p>
        </div>
        <div class="col-md-6">
            <h2> Vision </h2>
            <p> Llegar a ser para el 2025 la escuela de especializada en la ense침anza del
                ingles como lengua extranjera reconocida en la region de los altos de Jalisco
                no solo por el excelente desempe침o de sus trabajadores y digna infraestructura,
                sino sobre todo por el alto rendimiento de sus estudiantes egresados, expresado
                sobre todo, en sus logros de los estandares nacionales e internacionales de dominio
                de la lengua inglesa.
            </p>
        </div>
    </div>
</div>