<div class="sliderMiddle  middle">
    <div class="slides">
        <input type="radio" name="r" id="r1" checked>
        <input type="radio" name="r" id="r2">
        <input type="radio" name="r" id="r3">
        <input type="radio" name="r" id="r4">
        <div class="slide s1">
            <img src="/img/1.png">
        </div>
        <div class="slide">
            <img src="/img/2.png">
        </div>
        <div class="slide">
            <img src="/img/3.png">
        </div>
        <div class="slide">
            <img src="/img/4.png">
        </div>
    </div>
    <div class="navigation">
        <label for="r1" class="bar"></label>
        <label for="r2" class="bar"></label>
        <label for="r3" class="bar"></label>
        <label for="r4" class="bar"></label>
    </div>
</div>

<div class="position" id="oiecomova" onclick="hola()">
    <div class="border-button caja">
        <img class="imgMargin" src="/img/poll.png">
        <label>Realiza una encuesta</label>
    </div>
</div>


<div class="popup font-stuff">
    <div class="popup-content">
        <form class="form" action="" method="POST">
            <img class="on-a-cross" src="/img/cancelar.png" id="mary" onclick="adios()">
            <label> Hola, favor de llenar la encuesta:</label>
            <label> ¿Que calificacion le daria en general a la Escuela de lenguas foraneas?</label>
            <br>
            <label> Calificacion:</label>
            <select class="font-stuffs" id="selectEncuesta" onclick="mostrar()" name="calificacion">
                <option value=null> -Selecciona- </option>
                <option value="10"> 10 </option>
                <option value="9"> 9 </option>
                <option value="8"> 8 </option>
                <option value="7"> 7 </option>
                <option value="6"> 6 </option>
                <option value="5"> 5 </option>
                <option value="4"> 4 </option>
                <option value="3"> 3 </option>
                <option value="2"> 2 </option>
                <option value="1"> 1 </option>
            </select>
            <div class="oculto">
                <div>
                    <label> Por favor escribe en que podemos mejorar:</label>
                    <br>
                    <input type="text" id="inputEncuesta" name="respuesta">
                    <br>
                    <label>Selecciona que campos podriamos mejorar</label>
                    <br>
                    <label><input type="checkbox" id="cbox1" value="Instalaciones"> Instalaciones</label><br>
                    <label><input type="checkbox" id="cbox2" value="web"> Pagina web</label><br>
                    <label><input type="checkbox" id="cbox3" value="servicios"> Servicios</label><br>
                    <label><input type="checkbox" id="cbox4" value="contacto"> Contacto</label><br>
                </div>

            </div>
            <br>
            <input class="butt" type="submit" value="Enviar" id="subirEncuesta">
    </div>
</div>
</form>