<div class="container accordion para">
    <button type="button" class="accordion__button">
        ¿Puedo revalidar mis conocimientos y habilidades si ya fuí estudiante de
        ESLEFO?
    </button>
    <div class="accordion__content">
        <p>
            Si, se puede siempre y cuando no haya pasado más de 6 meses sin
            estudiar inglés con nosotros. De lo contrario, es necesario presentar
            una evaluación diagnóstica.
        </p>
    </div>
</div>

<div class="container accordion para">
    <button type="button" class="accordion__button">
        ¿Qué pasa si no apruebo durante el curso?
    </button>
    <div class="accordion__content">
        <p>
            Se te brinda una segunda oportunidad para aprobar tus exámenes que
            hayan quedado sin aprobar.
        </p>
    </div>
</div>

<div class="container accordion para">
    <button type="button" class="accordion__button">¿Métodos de pago?</button>
    <div class="accordion__content">
        <p>En efectivo y transferencia bancaria.</p>
    </div>
</div>
<div class="container accordion para">
    <button type="button" class="accordion__button">
        ¿Cómo puedo inscribirme?
    </button>
    <div class="accordion__content">
        <p>
            Acudiendo directamente a nuestro domicilio <a href="https://goo.gl/maps/fZJqN9gkSRAwYCch7"> <i aria-hidden="true"> Nuestra dirección</i></a> o bien, en
            línea postulándote en esta página y siguiendo los pasos.
        </p>
    </div>
</div>
<div class="container accordion para">
    <button type="button" class="accordion__button">
        ¿Cuál es la calificación mínima?
    </button>
    <div class="accordion__content">
        <p>La calificación mínima aprobatoria es 70/100.</p>
    </div>
</div>
<div class="container accordion para">
    <button type="button" class="accordion__button">
        ¿Me pueden cambiar de horario?
    </button>
    <div class="accordion__content">
        <p>
            Sí, siempre y cuando exista un grupo disponible para realizar el cambio.
        </p>
    </div>
</div>
<div class="container accordion para">
    <button type="button" class="accordion__button">¿Precios?</button>
    <div class="accordion__content">
        <p>
            Son pagos mensuales de: <br>
            Niños: 590. Adolecentes: 590 pesos mxn. <br>
            Nivel básico para jóvenes y adultos: 750 pesos mxn.<br>
            Nivel intermedio para jóvenes y adultos: 850 pesos mxn. <br>
            Nivel pre-avanzado para jóvenes y adultos: 850 pesos mxn. <br>
            Nivel avanzado para jóvenes y adultos: 950 pesos mxn. <br>
            Curso intensivo nivel básico (10h por semana): 1590 pesos mxn. <br>
            Curso en línea nivel básico : 850 pesos mxn. <br>
            Si tiene alguna duda puede preguntar aquí: <a href="/links/askus"> <i aria-hidden="true"> Preguntanos</i></a>
        </p>
    </div>
</div>
<div class="container accordion para">
    <button type="button" class="accordion__button">
        ¿Qué material de trabajo se utiliza?
    </button>
    <div class="accordion__content">
        <p>
            Niños de 6 -10 “Guess what!”. Editorial Cambridge. <br>
            Adolecentes 11 – 14 “Move it!” Editorial Pearson. <br>
             Jóvenes y adultos “Interchange” Editorial Cambridge.<br>
             Libreta y lápiz o lapicera.
        </p>
    </div>
</div>
<div class="container accordion para">
    <button type="button" class="accordion__button">
        ¿Cómo puedo certificar mis estudios de inglés?
    </button>
    <div class="accordion__content">
        <p>
            Un vez concluído todo tu proceso de aprendizaje del idioma, tomas el
            “Test of English as a Foreign Language” (TOEFL). <a href="https://www.ets.org/toefl"> <i aria-hidden="true"> Página del examen TOEFL</i></a>
        </p>
    </div>
</div>
<div class="container accordion para">
    <button type="button" class="accordion__button">
        ¿Es obligatorio iniciar mi curso de inglés desde cero?
    </button>
    <div class="accordion__content">
        <p>
            Si solo cuentas con los conocimientos de nivel secundaria y
            preparatoria, sí es recomendable iniciar tu proceso de aprendizaje
            desde cero. Pero si tienes dudas y quieres poner a prueba tus
            conocimientos y habilidades en el idioma, ofrecemos un examen
            diagnóstico para evaluar tu nivel de desempeño, y conforme el resultado
            colocarte en el grupo más apropiado para ti.
        </p>
    </div>
</div>

<script>
    document.querySelectorAll(".accordion__button").forEach((button) => {
        button.addEventListener("click", () => {
            const contenido = button.nextElementSibling;
            button.classList.toggle("accordion__button--active");
            if (button.classList.contains("accordion__button--active")) {
                contenido.style.maxHeight = contenido.scrollHeight + "px";
            } else {
                contenido.style.maxHeight = 0;
            }
        });
    });
</script>