<div class="container">
    <form action="/links/register" method="POST">
        <div class="signum letters form-row">
            <label> Registrate </label>
            <label>
                Registrarse tiene sus beneficios como poder postularse a los cursos,
                ya que estes un grupo podras leer la bitacora.
            </label>
            <br />
            <div class="col">
                <label> Nombres: </label>
                <input class="form-control nana" type="text" placeholder="Escriba sus nombres" name="nombre"
                    required="required" />
                <br />
                <label>Segundo apellido: </label>
                <input class="form-control nana" type="text" placeholder="Escriba su apellido materno" name="apMat"
                    required="required" />
                <br />
                <label>Fecha de nacimiento:</label>
                <input class="form-control nana" type="date" name="nacimiento" />
                <br />
                <label>Contrase単a:</label>
                <input class="form-control nana" type="password" placeholder="Contrase単a" name="contraA"
                    required="required" />
            </div>
            <div class="col">
                <label>Primer apellido:</label>
                <input class="form-control nana" type="text" placeholder="Escriba su apellido paterno" name="apPat"
                    required="required" />
                <br />
                <label>Numero celular o telefono:</label>
                <input class="form-control nana" type="text" placeholder="Escriba su numero" name="numero"
                    required="required" />
                <br />
                <label>Correo electronico:</label>
                <input class="form-control nana" type="email" placeholder="Escriba su Email" name="email"
                    required="required" />
                <br />
                <label>Confirma contrase単a:</label>
                <input class="form-control nana" type="password" placeholder="Confirma su contrase単a" name="contraB"
                    required="required" />
                <input type="submit" class="signButton" value="Registrarse" />
            </div>
        </div>
</div>
</form>