<div class = "container p-4">
    <div class = "row">
        <div class = "col-md-12">
            <div class="card  border-dark mb-3">
                 <div class="card-body">
                      <h2 class="card-title" > Reglamento del centro </h2>
                          <p>
                            1.- Todos los pagos deberán ser liquidados del primero al dia diez de cada mes y antes de cada vacación; en caso de retraso tendrán que pagar 
                            10% de multa. En caso de no ser liquidada la mensualidad atrsada (con la multa respectiva) el día primero del mes siguiente, el estudiante no
                            tendrá derecho de asistor más a clase. N.B. Las asistencias sin justificación durante el mes son responsabilidad del estudiante y no son motivo 
                            de descuentos en los pagos de su colegiatura.  
                          </p>
                          <p>
                            2.- Los estudiants deberán asistir a sus clases con puntualidad y permanencia; ello es indispensable para garantizar un buen aprovechamiento. (Repaso,
                            introducciones, actividades de insumo previas a los temas mas complejos, conclusiones, sintesis, evaluaciones).  
                          </p>
                            <p>
                              3.- Mantener un comportamiento adecuado y de respeto a sus compañeros y maestros son requeridos para un buen aprendizaje. En los niveles intermedio y 
                              avanzado, el uso del español en el aula sin justificación alguna, entorpece el aprendizaje de las habilidades lingüísticas y no lingüísticas de la lengua
                              meta (Inglés), por lo que queda restringido su uso.  
                            </p>
                            <p>
                              4.- Cualquier problema o incoveniente que se presente, favor de comunicarlo directamente con el director de la escuela, o bien a nuestro correo electronico: escueladelenguasforaneas@live.com.mx
                            </p>
                 </div>
            </div>
           
        </div>
    </div>
</div>